<h2 class="title">Ember OEmbed</h2>
<p>
  Type Enter a URL below, and we'll try to embed appropriate rich content
</p>
<div class="search-box">
  {{input value=url placeholder='Paste a URL here'}}
</div>

<div class="examples">
  <h3>Examples:</h3>
  <button onclick={{action 'setup-example' "http://soundcloud.com/forss/flickermood"}}>SoundCloud</button>
  <button onclick={{action 'setup-example' "https://www.facebook.com/levantofinancial/posts/1353060554709816"}}>Facebook</button>

</div>

<div class="embed">
  <div class="embed-content">
    {{ember-oembed src=url}}
  </div>
</div>

